COMPOSE_FILE=docker-compose.yml

RAILS_SERVE_STATIC_FILES=true
RAILS_FORCE_SSL=
RAILS_LOG_TO_STDOUT=
RAILS_LOG_SHIFT_AGE=5
RAILS_COLORIZE_LOGGING=true
RAILS_MAX_THREADS=5
RAILS_MASTER_KEY=replace_me
SECRET_KEY_BASE=secret

APP_UID=1000
APP_GID=1000

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_NAME=docs_portal
DATABASE_PASSWORD=docs_portal

ACTIVE_STORAGE_SERVICE=local
DOC_IMPORT_TOKEN=local-dev-import-token

PUBLISH_WEB_SERVER_PORT=3000
PUBLISH_DATABASE_PORT=5432
