- page_title "外部フォルダ同期設定を編集"

h1 外部フォルダ同期設定を編集

.card.admin-form-container.admin-form-container--wide
  = render "form", external_folder_sync_source: @external_folder_sync_source, return_to: safe_return_to
