span.help-tooltip tabindex="0" aria-label=description aria-describedby=tooltip_id
  span.help-tooltip__trigger aria-hidden="true" ❓
  span.help-tooltip__content id=tooltip_id role="tooltip" = description
