span.info-tooltip tabindex="0" aria-label=description aria-describedby=tooltip_id
  span.info-tooltip__trigger aria-hidden="true"
    i.bi.bi-info-circle
  span.info-tooltip__content id=tooltip_id role="tooltip" = description
