nav.section-nav aria-label=@aria_label data-controller="section-nav"
  - @sections.each do |section|
    a.section-nav__tab href="##{section[:id]}" aria-controls=section[:id] aria-current=(first_section?(section) ? "location" : nil) data-section-nav-target="tab" data-action="click->section-nav#scrollToSection keydown->section-nav#navigateWithKeyboard" class=("is-active" if first_section?(section))
      = section[:label]
