- page_title "管理ダッシュボード"

h1 管理画面
p.muted 内部ユーザーのみが各種マスタを管理できます。

= render "admin/nav"

section.card
  h2 ドキュメントファイル健全性

  p
    | 登録ファイル数: 
    strong = @document_file_health.total_count
    |  / 実体欠落: 
    strong = @document_file_health.missing_count

  - if @document_file_health.healthy?
    p.muted 実体ファイルの欠落は検出されていません。
  - else
    p.muted storage/document_files 配下に実体が存在しないファイルがあります。

    table
      thead
        tr
          th 案件
          th 文書
          th 版
          th ファイル名
          th Storage key
      tbody
        - @document_file_health.missing_files.each do |file|
          - version = file.document_version
          - document = version.document
          - project = document.project
          tr
            td = project.name
            td = link_to document.title, project_document_path(project, document.slug)
            td = link_to version.version_label, document_version_path(version)
            td = file.file_name
            td
              code = file.storage_key

.form-grid
  .card
    h2 基本マスタ
    ul
      - if company_master_admin?
        li = link_to "会社マスタ", admin_companies_path
      li = link_to "ユーザーマスタ", admin_users_path
      li = link_to "案件マスタ", admin_projects_path

  .card
    h2 関連設定
    ul
      li = link_to "案件所属", admin_project_memberships_path
      li = link_to "文書マスタ", admin_documents_path
      li = link_to "文書公開権限", admin_document_permissions_path

p = link_to "案件一覧へ戻る", projects_path
