<% page_title "案件一覧" %>
<h1>案件一覧</h1>
<p class="muted">社内ユーザーは全件、社外ユーザーは所属案件のみ表示します。</p>

<%= table_tag do %>
  <thead>
    <tr>
      <th>コード</th>
      <th>案件名</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.code %></td>
        <td><%= link_to project.name, project_documents_path(project) %></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
